.data {
    background-color: var(--background);
    padding-top: 10px;
    padding-bottom: 10px;
}

.seperator {
    background-color: var(--text);
    width: calc(100vw - 30px);
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

.data-container {
    background-color: var(--background-secondary);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.data-entry {
    display: grid;
    grid-template-columns: 124px auto;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--seperator);
}

.data-header {
    font-weight: bold;
}
