:root {
    --background: #f7f8f6;
    --background-secondary: #eae4da;
    --background-topbar: #dccfbe;

    --text: #000000;
}

.history {
    background-color: var(--background);
    padding: 15px;
}

.history-container {
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 10px;
}

#history-heading {
    font-size: 22px;
    padding-bottom: 15px;
}

.history-seperator {
    width: 1px;
    height: auto;
    background-color: var(--text);
}

.history-event {
    display: grid;
    grid-template-columns: 75px 1px auto;
}

.history-event-date {
    padding-top: 15px;
    padding-bottom: 15px;
}

#history-event-info {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
}
