.info {
    background-color: var(--background);
    padding-bottom: 30px;
}

.info-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-content {
    position: inherit;
    display: block;
}

#info-heading {
    padding: 15px;
    padding-bottom: 0px;
    font-size: 22px;
}

#info-arrow {
    position: inherit;
    width: 18px;
    padding: 15px;
    padding-top: 20px;
    justify-self: end;
    transition: all 0.3s ease;
    rotate: 270deg;
}

#info-info {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 18px;
}

#info-image {
    width: calc(100vw - 30px);
    padding-left: 15px;
    padding-top: 15px;
}
