@font-face {
    font-family: "Neue Montreal";
    src: url("../assets/fonts/OTNeueMontreal/OTNeueMontreal-BookSemiSqueezed.ttf");
}

:root {
    --background: #f7f8f6;
    --background-secondary: #eae4da;
    --background-topbar: #dccfbe;

    --text: #000000;
}

* {
    font-family: "Neue Montreal", sans-serif;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 54px;
}

.overview {
    padding: 15px;
    background-color: var(--background);
}

.overview-split {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
}

#overview-left-id,
#overview-left-footnote {
    font-size: 20px;
}

#overview-left-name {
    font-size: 40px;
}

.overview-left {
    left: 0;
}
