:root {
    --background: #f7f8f6;
    --background-secondary: #eae4da;
    --background-topbar: #dccfbe;

    --text: #000000;
}

* {
    margin: 0;
    padding: 0;
}

.titlebar {
    display: flex;
    width: 100%;
    height: 54px;
    position: fixed;
    background-color: var(--background-topbar);
    border-radius: 0px 0px 10px 10px;
    user-select: none;
}

.titlebar-search {
    width: calc(100vw - 132px);
    position: inherit;
    left: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    margin: 5px;
}

.titlebar-search input {
    top: 12px;
    position: inherit;
    width: calc(100vw - 180px);
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
}

.titlebar-search input::placeholder {
    color: var(--text);
}

#titlebar-top-search {
    padding: 10px;
    padding-bottom: 6px;
    width: 18px;
    height: 18px;
}

.titlebar-buttons {
    position: inherit;
    right: 10px;
}

#titlebar-top-menu,
#titlebar-top-theme {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--text);
    border-radius: 10px;
    width: 18px;
    height: 18px;
}
