@font-face {
    font-family: "Neue Montreal";
    src: url("assets/fonts/OTNeueMontreal/OTNeueMontreal-BookSemiSqueezed.ttf");
}

@font-face {
    font-family: "OT Jubilee";
    src: url("assets/fonts/OTJubilee/OTJubilee-Silver.ttf");
}

* {
    /*font-family: "Neue Montreal", sans-serif;*/
    font-family: "OT Jubilee", sans-serif;
    line-height: 30px;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --background: #f7f8f6;
    --background-secondary: #eae4da;
    --background-topbar: #dccfbe;

    --text: #000000;

    --background-secondary-beige: #eae4da;
    --background-topbar-beige: #dccfbe;

    --background-secondary-green: #d0decb;
    --background-topbar-green: #a9c4a0;

    --background-secondary-red: #e1baab;
    --background-topbar-red: #ca7c5f;
}
