@font-face {
    font-family: "Neue Montreal";
    src: url("assets/fonts/OTNeueMontreal/OTNeueMontreal-BookSemiSqueezed.ttf");
}

@font-face {
    font-family: "OT Jubilee";
    src: url("assets/fonts/OTJubilee/OTJubilee-Silver.ttf");
}

* {
    /*font-family: "Neue Montreal", sans-serif;*/
    font-family: "OT Jubilee", sans-serif;
    line-height: 30px;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: var(--text);
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --background: #f7f8f6;
    --background-secondary: #e1baab;
    --background-topbar: #ca7c5f;

    --seperator: #d3d3d3;
    --text: #000000;

    --background-light: #f7f8f6;
    --background-secondary-light: #e1baab;
    --background-topbar-light: #ca7c5f;

    --seperator-light: #d3d3d3;
    --text-light: #000000;

    --background-dark: #121212;
    --background-secondary-dark: #1f1f1f;
    --background-topbar-dark: #7a422f;
    --seperator-dark: #444444;
    --text-dark: #ffffff;
}
